[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype.git
